@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.fixedPart {
  position: fixed;
  height: 100vh;
  display: inline-block;
}

body {
  background-color: #fcfafd;
  font-family: "Roboto", sans-serif;
  position: fixed;
}
.scrollPart {
  padding-left: 300px;
  padding-right: 20px;
  padding-top: 10px;
  height: 100vh;
  width: calc(100vw - 300px);
  display: inline-block;
}
.centralPart {
  padding-top: 40px;
}
.transactions {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
